<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>oldschool calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5B0439B1C57B86F00FA8F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B043AF1C57B86F00FA8F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B043BA1C57B86F00FA8F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
